
@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Welcome to JoJoMania!</h2>
    <p>This site offers all the information you'd need to learn more about JoJo, whether you're an old fan, or a new one!</p>
    <p></p>
    <p><u><b>UPDATES</b></u>
    </p>
    <p>Website currently under construction!</p>
</center>
